#container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#business-form {
    width: 30vw;
    height: 70vh;
  background-color: rgb(47, 53, 177);
  color: rgb(250, 255, 210)
}
