.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.businesses {
    width: 90%;
  display: flex;
  height: 80vh;
    background-color: #192837;
}

.review {
  display: flex;
  padding: 20px;
}
h2 {
  text-align: center;
  margin-top: 20px;
}
button{
    cursor: pointer;
    box-shadow: 10px 5px 5px rgba(0, 0, 0);
    transition: all 0.5s;
}
button:hover{
    box-shadow: 5px 2px 2px rgba(0, 0, 0);
    padding: 15px;
}
.cardImage {
  width: 100%;
  height: 10em;
  object-fit: cover;
  border-radius: 12px;
}
.header {
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #192837;
  color: white;
}
.login {
    background-color: #4CAF50; /* Green */
    width: 20%;
    min-width: fit-content;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.5s;
}
.business{
  /* display: flex;
  flex-direction: column;
  background-color: #323b44;
  width: 20%;
  height: 30vh;
  margin: 0.5em;
  border-radius: 20px; */


    overflow:hidden;
     background-color: #192837;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    box-shadow: 10px 10px 1px rgba(0, 0, 0);
    transition: all 0.5s;
}
.business:hover{
  margin: 15px;
}
.business h2{
    margin-top: -10px;
    font-size: 2rem;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
    
}
.business ul{
    grid-column: 1;
    list-style-type: none;
    padding: 0;
    grid-row: 1;
    text-align: start;
    text-decoration: underline;
    font-size: 1.5rem;
}
.business h3{
    grid-column: 3;
    grid-row: 1;
}
#review{
    background-color: #fcfdff;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    margin: 10px 0;
    padding: 10px;
    grid-column: 3;
    grid-row: span 1/3;
    border: 2px solid rgb(238, 242, 13);
    height: fit-content;
    overflow: auto;
    height: 100%;
}
