#container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#businessContainerBox {
    width: 90%;
    height: 50vh;
    background-color: #efefef;

}