#root {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(82, 130, 164);
  color: rgb(255, 255, 255);
  
}
.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bubbleImage {
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  filter: blur(1.5px);
  pointer-events: none;
}
#login-form {
  background-color: rgb(25, 40, 55);
  padding: 40px 20px;
  border-radius: 5px;
  margin: auto;
  font-size: larger;
  border: 1px solid black;

  width: 20%;
  min-width: 300px;
  min-height: 350px; 

  border-radius: 10%;
  box-shadow: 0px 10px 50px rgb(0, 0, 0);
  transition: all 0.5s ease-in;
}
#login-form:hover {
 border-radius: 0%;
}
.inp{
    background: #eee;
  color: #000;
  width: 80%;
  margin-left: 10px;
    height: 32px;
  padding: 4px 8px;
  border-radius: 4px;
}
label{
 color: #fff;
  font-weight: 500;
}
h1{
text-align: center;
  margin: 0 auto 0 auto;
  grid-column: 2;
}
#bar{
  width: 100vw;
  height: 10vh;
  background-color: rgb(25, 40, 55);
  margin: 0 0 0 0;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  overflow: hidden;
  padding-bottom: 10px;
}
h3{
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: underline;
}
.button {
  width: 50%;
  margin-top: 15px;
  margin-left: 25%;
 text-align: center;
 align-self: center;
 justify-self: center;
  font-size: 1rem;
}
.radio {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

.bubble {
  opacity: 0.2;
  pointer-events: none;
}
#back-button{
  width: 90%;
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: #eee;
  color: #000;
  cursor: pointer;
}